@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap");

:root {
  --orange: #fc8a06;
  --green: #028643;
  --white: #ffffff;
  --black: #000000;
  --darkBlue: #03081f;
}

.logo h1 {
  margin-left: 12px;
  font-weight: bold;
}
/* تأكد الصور ما تطلع برة */
img {
  /* max-width: 100%; */
  height: auto;
}

body {
  direction: rtl;
  overflow-x: hidden;
  background-color: var(--white);
  padding: 0;
  margin: 0;
  font-family: "Cairo", Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
.w-fit {
  width: fit-content;
}

/* Containers */
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1091px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1320px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1400px;
  }
}

/*  header  */
.header {
  background-color: #fafafa;
  padding: 0 40px;
  border-radius: 0 0 20px 20px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}
.header .left p {
  font-size: 20px;
}
.header .right p {
  font-size: 19px;
}

span {
  color: var(--orange);
}
.header .right .cart {
  border-radius: 0 0 10px 10px;
  background-color: var(--green);
  height: 59px;
}
.header .right .cart div {
  padding: 8px;
  display: flex;
  align-items: center;
  color: var(--bs-white);
  border-right: 1px solid white;
  height: 100%;
}

.header .right .cart div img {
  width: 26px;
}
/*End Header */

/* Nav */
nav .navbar-brand .logo h1 {
  font-size: 29px;
  margin: 0;
}
nav .navbar-brand .logo h1 span {
  font-size: 29px;
}
.login {
  display: flex;
  align-items: center;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: var(--darkBlue);
}
.nav-item {
  margin-right: 25px;
  margin-top: 10px;
}
.nav-link {
  font-size: 17px;
  font-weight: 600;
  color: #000000ab;
  transition: 0.5s;
}
.nav-link:hover {
  color: var(--orange);
}
.nav-item .active {
  color: var(--white) !important;
  background-color: var(--orange);
  border-radius: 20px;
  width: 102px;
  height: 40px;
  text-align: center;
}

/* End nav */

/* Hero */
.hero {
  padding: 10px 23px;
  background-color: #fafafa;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  height: 601px;
  position: relative;
  width: 100%;
}
.hero .row {
  height: 100%;
}
.hero svg {
  color: #ffffff;
}
.hero .hero-3 {
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: 0;
  transform: rotateY(180deg);
}
.hero .text p {
  width: fit-content;
  padding-bottom: 10px;
  font-size: 16px;
  color: var(--darkBlue);
}
.hero .text h3 {
  font-size: 44px;
}
.hero .postcode p {
  width: fit-content;
  padding-bottom: 10px;
}
.hero .postcode form {
  width: 292px;
}
.hero .postcode form .input-group {
  position: relative;
}
.hero .postcode form .input-group input {
  padding: 10px;
  border: 1px solid #0000001f;
  border-radius: 20px !important;
  width: 100%;
}
.hero .postcode form .input-group button {
  display: flex;
  border: none;
  border-radius: 20px !important;
  background-color: var(--orange);
  color: white;
  width: 100px;
  z-index: 1;
  position: absolute;
  left: 0;
  height: 100%;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.hero .hero-1 {
  position: absolute;
  left: 27%;
  bottom: 0;
  /* width: 646px; */
  height: 444px;
  z-index: 1;
}
.hero .hero-2 {
  position: absolute;
  left: 179px;
  bottom: 0;
  /* width: 367px; */
  height: 429px;
  z-index: 0;
}

/* Boxes */
.hero .boxes-comments .box {
  width: fit-content;
}
.hero .boxes-comments .box .number {
  font-size: 32px;
  position: absolute;
  color: white;
}
.hero .boxes-comments .box-1 .number {
  left: 252px;
  top: 75px;
}
.hero .boxes-comments .box-1 .comment {
  left: 206px;
  top: 131px;
}
.hero .boxes-comments .box-2 .number {
  left: 28px;
  top: 258px;
}
.hero .boxes-comments .box-2 .comment {
  left: 9px !important;
  top: 311px !important;
}
.hero .boxes-comments .box-3 .number {
  left: 135px;
  top: 429px;
}
.hero .boxes-comments .box-3 .comment {
  left: 101px !important;
  top: 481px !important;
}
.hero .boxes-comments .box .comment {
  background-color: white;
  position: absolute;
  padding: 7px 19px;
  width: 319px;
  height: 87px;
  border-radius: 29px;
}
.hero .boxes-comments .box .comment h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  margin: 0;
}
.hero .boxes-comments .box .comment h1 span {
  font-size: 15px;
  padding-right: 20px;
}
.hero .boxes-comments .box .comment p {
  padding-left: 10px;
  font-size: 14px;
}
/* End hero */

/* Seals */

.seals .top p {
  font-size: 28px;
  margin-right: 35px;
  font-weight: bold;
}
.seals .top ul {
  list-style-type: none;
  margin-top: 8px;
  margin-bottom: 2px;
  padding: 0;
  display: flex;
  align-items: center;
}
.seals .top ul li {
  margin-left: 39px;
  font-size: 16px;
}
.seals .top ul .active {
  border: 2px solid var(--orange);
  padding: 12px 22px;
  border-radius: 20px;
  color: var(--orange);
}

.seals .card {
  border-radius: 19px;
  overflow: hidden;
  width: 100%;
  height: 97%;
}
.seals .card.card-1,
.seals .card.card-2,
.seals .card.card-3 {
  background-repeat: no-repeat;

  background-size: cover;

  position: relative;

  z-index: 2;
}
.seals .card.card-3,
.seals .card.card-1 {
  background-image: url(../images/Seal-1.png);
}
.seals .card.card-2 {
  background-image: url(../images/Seal-2.png);
}
.seals .card .seal {
  background: var(--darkBlue);
  width: fit-content;
  padding: 14px;
  color: var(--bs-white);
  border-radius: 0 0 10px 10px;
  position: absolute;
  left: 23px;
}
.seals .card img {
  width: 102%;
  position: relative;
  right: -6px;
  z-index: 0;
}
.seals .card .text {
  position: absolute;
  bottom: 24px;
  padding-right: 31px;
}
.seals .card .text p {
  color: var(--orange);
}
.seals .card .text h1 {
  color: white;
}
/* End Seals */

/* Categories */
.Categories .top p {
  font-size: 28px;
  margin-right: 35px;
  font-weight: bold;
}
.Categories .card {
  border-radius: 19px;
  overflow: hidden;
  width: 100%;
  background-color: #fafafa;
  height: 97%;
}
.Categories .card .text {
  padding-right: 15px;
  padding-bottom: 14px;
}
.Categories .card .text p {
  color: var(--orange);
  padding-bottom: 14px;
}
.Categories .card .text h1 {
  color: var(--darkBlue);
  padding-top: 10px;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 0;
}
/* End Categories */

/* Restaurants */
.Restaurants .top p {
  font-size: 28px;
  margin-right: 35px;
  font-weight: bold;
}
.Restaurants .card {
  border-radius: 19px;
  overflow: hidden;
  width: 100%;
  height: 97%;
  border: none;
}
.Restaurants .card .text {
  text-align: center;
  background-color: var(--orange);
}
.Restaurants .card .text p {
  color: var(--white);
  padding-bottom: 14px;
}
.Restaurants .card .text h1 {
  color: var(--white);
  padding-top: 10px;
  font-size: 18px;
  padding-bottom: 19px;
}
/* End Restaurants */

/* application */
.application {
  background: linear-gradient(306deg, #eeeeee, #e0e1dc);
  border-radius: 20px;
  padding: 29px;
}
.application .friends-laughing-using-mobiles {
  z-index: 1;
  position: relative;
}
.application .friends-laughing-using-mobiles-photo {
  z-index: 2;
  position: relative;
  bottom: -28px;
  /* position: absolute; */
}
.application .friends-laughing-using-mobiles-shdow {
  position: absolute;
  left: -22px;
  z-index: 0;
  bottom: -28px;
}
.application button {
  border: none;
  padding: 10px 20px;
  background-color: #03081f;
  color: var(--white);
  font-size: 23px;
  font-weight: 600;
  width: 500px;
  right: -144px;
  position: relative;
  z-index: 0;
  border-radius: 20px;
  margin-bottom: 18px;
  margin-top: 10px;
}
.application button span {
  color: var(--bs-orange);
  font-size: 27px;
}
.application p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #000000a3;
}
/* End application */

/* WorkWUs */
.WorkWUs .top p {
  font-size: 28px;
  margin-right: 35px;
  font-weight: bold;
}
.WorkWUs .top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.WorkWUs .top ul li {
  margin-right: 39px;
  font-size: 13px;
}
.WorkWUs .top ul .active {
  border: 2px solid var(--orange);
  padding: 12px 22px;
  border-radius: 20px;
  color: var(--orange);
}
.WorkWUs .card {
  border-radius: 19px;
  overflow: hidden;
  width: 100%;
  height: 97%;
}
.WorkWUs .card.card-1,
.WorkWUs .card.card-2,
.WorkWUs .card.card-3 {
  background-repeat: no-repeat;

  background-size: cover;

  position: relative;

  z-index: 2;
}
.WorkWUs .card.card-3,
.WorkWUs .card.card-1 {
  background-image: url(../images/WorkWUs-1.png);
}
.WorkWUs .card.card-2 {
  background-image: url(../images/WorkWUs-2.png);
}
.WorkWUs .card .seal {
  background: var(--white);
  width: fit-content;
  padding: 14px;
  color: var(--darkBlue);
  border-radius: 0 0 10px 10px;
  position: absolute;
  left: 23px;
}
.WorkWUs .card img {
  width: 102%;
  position: relative;
  left: -6px;
  z-index: 0;
}
.WorkWUs .card .text {
  position: absolute;
  bottom: 24px;
  padding-right: 31px;
}
.WorkWUs .card .text p {
  color: var(--orange);
}
.WorkWUs .card .text h1 {
  color: white;
}
.WorkWUs .card button {
  width: fit-content;

  border: none;

  padding: 10px 45px;

  background-color: var(--orange);

  color: var(--bs-white);

  border-radius: 20px;
}
/* End WorkWUs */

/* AboutUs */
.aboutUs {
  padding: 72px 85px;
  background-color: #d9d9d9;
  border-radius: 20px;
}
.aboutUs .top p {
  font-size: 28px;
  margin-left: 35px;
  font-weight: bold;
  margin-bottom: 23px;
}
.aboutUs .top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.aboutUs .top ul li {
  margin-left: 33px;
  font-size: 13px;
  font-weight: bold;
}
.aboutUs .top ul .active {
  border: 2px solid var(--orange);
  padding: 12px 22px;
  border-radius: 20px;
  color: var(--orange);
}
.aboutUs .question ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutUs .question ul li {
  padding: 18px;
  text-align: center;
  font-weight: bold;
}
.aboutUs .question ul .active {
  background-color: var(--orange);
  color: var(--white);
  border-radius: 20px;
  width: fit-content;
}
.aboutUs .box {
  height: 100%;
  background: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  width: fit-content;
}
.aboutUs .box h3 {
  font-size: 20px;
  font-weight: bold;
}

/* End AboutUs */

/* Statistics */
.Statistics .row {
  background-color: var(--orange);
  border-radius: 22px;
}
.Statistics .box {
  color: var(--white);
  text-align: center;
  padding: 12px;
}
.Statistics .box .text {
  border-right: 1px solid #ffffff;
}
.Statistics .box:last-child .text {
  border-right: none;
}
/* End Statistics */

/* Footer */
footer {
  background-color: #d9d9d9;
  padding: 35px;
}
footer .titleUL {
  width: fit-content;
  font-size: 20px;
  margin-bottom: 28px;
  color: var(--darkBlue);
  font-weight: bold;
}
footer ul {
  list-style: none;
  padding: 0;
  width: 100%;
}
footer .ulunderlineLi li {
  text-decoration: underline;
}
footer ul li {
  margin-bottom: 7px;
  width: 100%;
}

footer form .input-group {
  position: relative;
}
footer form .input-group input {
  padding: 10px;
  border: 1px solid #0000001f;
  border-radius: 20px !important;
  background-color: #b7b7b7;
  width: 100%;
}
footer form .input-group button {
  border: none;
  border-radius: 20px !important;
  background-color: var(--orange);
  color: white;
  width: 117px;
  z-index: 1;
  position: absolute;
  left: -33px;
  height: 46px;
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--darkBlue);
  color: var(--bs-white);
  padding: 28px 51px;
  flex-wrap: wrap;
}
.bottom ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  margin-top: 13px;
}
.bottom ul li {
  margin-right: 48px;
}
/* End Footer */

/* Hero resturant */
.hero-resturant {
  /* padding: 10px 23px; */
  background-color: #fafafa;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 41px;
  height: 510px;
  position: relative;
  width: 100%;
  background-image: url(../images/main-hero-resturant.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-resturant .row {
  height: 100%;
  padding: 24px;
}
.hero-resturant .hero-resturant {
  /* display: none; */
  z-index: 0;
  position: absolute;
  right: 0;
}
.hero-resturant .text {
  z-index: 1;
  color: var(--darkBlue);
  font-size: 21px;
  width: 100%;
}
.hero-resturant .text h3 {
  z-index: 1;
  color: var(--darkBlue);
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 32px;
}
.hero-resturant .text .button {
  margin-bottom: 13px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.hero-resturant .text .button button {
  padding: 11px 19px;
  width: 49%;
  background: var(--darkBlue);
  color: white;
  position: relative;
  border: navajowhite;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero-resturant .text .button button img {
  /* position: absolute; */
  /* left: 20px; */
  margin-right: 11px;
}
.hero-resturant .timeopen {
  z-index: 1;
  position: absolute;
  bottom: -8px;
  right: 0;
}
.hero-resturant .timeopen p {
  width: fit-content;
  background: var(--orange);
  padding: 10px;
  color: white;
  border-radius: 10px 0 0 10px;
}
.hero-resturant .timeopen p img {
}
.hero-resturant .left {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  height: 100%;
  padding-bottom: 55px;
}
.hero-resturant .left .box-reviews {
  z-index: 1;
  position: absolute;
  width: fit-content;
  background-color: white;
  padding: 13px;
  text-align: center;
  border-radius: 20px;
  left: 0;
  bottom: -17px;
}
.hero-resturant .left .box-reviews h1 {
}
.hero-resturant .left .box-reviews .stars {
}
.hero-resturant .left .box-reviews .stars svg {
  color: #fbbc04;
}
.hero-resturant .left .box-reviews p {
}
.hero-resturant .left img {
  /* left: 20px !important; */
  position: relative;
  height: 100%;
}
/* End Hero resturant */

/* offers-resturant */
/* offers-up-resturant */
.offers-up-resturant .top p {
  font-size: 28px;
  margin-left: 35px;
  font-weight: bold;
}
.offers-up-resturant form {
  width: 273px;
}
.offers-up-resturant form .input-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.offers-up-resturant form .input-group svg {
  position: absolute;
  left: 16px;
  color: var(--bs-orange);
}
.offers-up-resturant form .input-group input {
  border: 1px solid gray;
  border-radius: 20px !important;
  padding: 10px;
  width: 100%;
}
/* offers-up-resturant */

/*  offers-menu-resturant */
.offers-menu-resturant {
  padding: 21px 2px;
  background-color: #f3f3f3;
}
.offers-menu-resturant ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  flex-wrap: wrap;
}
.offers-menu-resturant ul li {
  font-weight: bold;
  font-size: 17px;
  margin-right: 24px;
  margin-top: 10px;
  transition: 0.5s;
}
.offers-menu-resturant ul li:hover {
  cursor: pointer;
  color: #000000a8;
}
.offers-menu-resturant ul .active {
  background-color: var(--darkBlue);
  color: white;
  padding: 11px;
  border-radius: 20px;
}
/* End offers-menu-resturant */

/* End offers-resturant */

/* offer-card */

.offer-card .card {
  border-radius: 19px;
  overflow: hidden;
  width: 100%;
  height: 97%;
}
.offer-card .card.card-1,
.offer-card .card.card-2,
.offer-card .card.card-3 {
  background-repeat: no-repeat;

  background-size: cover;

  position: relative;

  z-index: 2;
}
.offer-card .card.card-3 {
  background-image: url(../images/offer-resturant-3.png);
}
.offer-card .card.card-1 {
  background-image: url(../images/offer-resturant-1.png);
}
.offer-card .card.card-2 {
  background-image: url(../images/offer-resturant-2.png);
}
.offer-card .card .seal {
  background: var(--darkBlue);
  width: fit-content;
  padding: 14px;
  color: var(--bs-white);
  border-radius: 0 0 10px 10px;
  position: absolute;
  left: 23px;
}
.offer-card .card .order {
  position: absolute;
  bottom: -4px;
  left: 0px;
  background-color: white;
  border-radius: 0 20px 0 0;
  width: 84px;
  display: flex;
  height: 67px;
  justify-content: center;
  align-items: center;
}
.offer-card .card .order svg {
  background-color: var(--darkBlue);
  color: white;
  border-radius: 20px;
  padding: 2px 0;
  font-size: 30px;
}
.offer-card .card img {
  width: 102%;
  position: relative;
  right: -4px;
  bottom: 0px;
  z-index: 0;
}
.offer-card .card .text {
  position: absolute;
  bottom: 24px;
  padding-right: 31px;
}
.offer-card .card .text p {
  color: var(--orange);
}
.offer-card .card .text h1 {
  color: white;
  font-size: 28px;
}
/* End offer-card */

/* Categories-resturant */

/* burger */
.Categories-resturant .top p {
  font-size: 37px;
  font-weight: bold;
  color: var(--darkBlue);
}

.Categories-resturant .burger .menu-card {
  border-radius: 12px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

  background: #fff;

  display: flex;

  align-items: center;

  justify-content: space-between;

  padding: 17px;

  width: 100%;

  position: relative;
}
.Categories-resturant .burger .menu-card .text {
}
.Categories-resturant .burger .menu-card .text h3 {
  font-weight: bold;
  font-size: 20px;
}
.Categories-resturant .burger .menu-card .text p {
  margin: 14px 0;
}
.Categories-resturant .burger .menu-card .img {
}
.Categories-resturant .burger .menu-card .img img {
  width: 150px;
}
.Categories-resturant .burger .menu-card .order {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #ffffffc4;
  border-radius: 0 20px 0 0;
  /* font-size: 40px; */
  width: 84px;
  display: flex;
  height: 67px;
  justify-content: center;
  align-items: center;
}
.Categories-resturant .burger .menu-card .order svg {
  background-color: var(--darkBlue);
  color: white;
  border-radius: 20px;
  padding: 2px 0;
  font-size: 30px;
}

/* burger */

/* ENd Categories-resturant */

/* information  */
.information {
  background: #fbfbfb;
  border-radius: 20px;
}
.information .row .col-lg-12 {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row-reverse; /* الوضع الافتراضي للشاشات الكبيرة */
}

/* للشاشات المتوسطة والصغيرة */
@media (max-width: 992px) {
  .information .row .col-lg-12 {
    flex-direction: column; /* يتحول للعمود */
    flex-wrap: wrap; /* لضمان عدم تجاوز المحتوى */
    padding: 0;
  }
  .information .row .col-lg-12 .box.dark {
      width: 100%;
      border-radius: 0 0 20px 20px;
  }
}

.information .box {
  /* background: white; */
  padding: 32px 20px 0;
  /* border-radius: 10px; */
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
  height: 447px;
  width: 452px;
}
.information .box.dark {
  background: #1c1f2a;
  color: white;
  border-radius: 0 20px 20px 0;
}
.information .box.dark span {
  color: white !important;
}
.information svg {
  color: var(--orange);
}
.information h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.information ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.information ul li {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 13px;
}
.information .highlight {
  font-weight: bolder;
  padding-left: 15px;
  color: var(--darkBlue);
}
.information a {
  color: #0078ff;
  text-decoration: none;
}
.information .word-spacing {
  word-spacing: 8px;
}
/* End information  */

/* location */
.location {
  position: relative;
  width: 100%;
}

.location iframe {
  border: 0;
  width: 100%;
  height: 457px; /* ارتفاع افتراضي */
}

/* box info */
.location .box {
  position: absolute;
  top: 8%;
  right: 3%;
  background: var(--darkBlue);
  color: white;
  padding: 18px 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* max-width: 300px; */ /* للريسبونسف */
}

/* نصوص داخل box */
.location .box h3 {
  margin: 5px 0;
}
.location .box p {
  color: var(--orange);
  margin: 0 0 10px 0;
}

/* icon location */
.location .loca {
  position: absolute;
  top: 76%;
  left: 4%;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 36px;
  border-radius: 15px;
  color: white;
  flex-direction: row-reverse;
}

.location .loca .icon img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* Media Queries */
@media (max-width: 992px) {
  .location .box {
    top: 5%;
    right: 2%;
    /* max-width: 237px; */
    padding: 15px 20px;
    font-size: 15px;
  }
  .location .box h3 {
    font-size: 20px;
  }
  .location iframe {
    height: 350px;
  }
}

@media (max-width: 768px) {
  .location .box {
    margin-top: 15px;
    position: relative;
  }
  .location .loca {
    display: none;
    /* margin: 15px; */
  }
  .location iframe {
    height: 300px;
  }
}

@media (max-width: 576px) {
  .location iframe {
    height: 250px;
  }
  .location .box {
    /* padding: 10px 15px; */
    font-size: 14px;
    width: 100%;
    position: relative;
  }
  .location .loca {
    padding: 8px 12px;
    font-size: 14px;
  }
}

.location .loca .icon {
  position: relative;
  left: -19px;
}
.location .loca .icon img {
}
.location .loca .text {
}
.location .loca .text h3 {
}
.location .loca .text p {
}

/* End location */

/* CustomerReviews */
.CustomerReviews {
  position: relative;
  width: 100%;
  padding: 20px 0;
  background: #d9d9d9;
}

.CustomerReviews .title {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 28px;
  color: var(--darkBlue);
  padding-right: 45px;
}

/* Box لكل تعليق */
.CustomerReviews .box {
  background: #f9f9f9;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  height: 259px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Top section */
.CustomerReviews .box .top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

/* Right section */
.CustomerReviews .box .top .right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.CustomerReviews .box .top .right img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.CustomerReviews .box .top .right .text h3 {
  margin: 0;
  font-size: 18px;
  color: var(--darkBlue);
}

.CustomerReviews .box .top .right .text p {
  margin: 0;
  font-size: 14px;
  color: var(--orange);
}

/* Left section */
.CustomerReviews .box .top .left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.CustomerReviews .box .top .left .stars svg {
  color: gold;
  margin-left: 2px;
}

.CustomerReviews .box .top .left .text {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #555;
}
.CustomerReviews .box .top .left .text svg {
  color: var(--orange);
}

/* Middle section (review text) */
.CustomerReviews .box .midddle p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
}
.CustomerReviews .box .midddle {
  position: absolute;
  bottom: 85px;
}

/* Media Queries */
@media (max-width: 768px) {
  .CustomerReviews .box .top {
    flex-direction: column;
    align-items: flex-start;
  }
  .CustomerReviews .box .top .left {
    align-items: flex-start;
  }
  .CustomerReviews .box .top .right .text h3 {
    font-size: 16px;
  }
  .CustomerReviews .box .top .right .text p {
    font-size: 13px;
  }
  .CustomerReviews .box .midddle p {
    font-size: 14px;
  }
}

.carousel-control-next {
  left: 52px;
  right: inherit;
}
.carousel-control-next span, 
.carousel-control-prev span {
  padding: 21px;
  background-color: var(--orange) !important;
}
.carousel-control-next,
.carousel-control-prev {
  top: -397px;
}
@media (max-width: 992px) {

.carousel-control-next, .carousel-control-prev {
    top: -688px;
}
}
@media (max-width: 768px) {
  .carousel-control-next, .carousel-control-prev {
      top: -971px;
  }

}
/* ENd CustomerReviews */

/* منع أي فراغ أو سكرول جانبي */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* الصور داخل الـ Hero */
.hero img {
  max-width: 100%;
  height: auto;
}

/* تعديل الصور المطلقة */
.hero .hero-1,
.hero .hero-2,
.hero .hero-3 {
  max-width: 100% !important;
}

/* ضبط الهوامش في الموبايل */
@media screen and (max-width: 768px) {
  .seals .top p {
    font-size: 20px;
    margin-right: 10px;
  }
  .seals .top ul li {
    /* margin-right: 15px; */
    font-size: 14px;
    width: auto;
  }
  .Categories .top p {
    font-size: 22px;
    margin-right: 10px;
  }
}

/* Responsive */

/* حل مشكلة البادينغ في الهواتف */
@media screen and (max-width: 768px) {
  .header {
    padding: 0 15px !important;
  }
  .nav-item {
    margin-right: 10px; /* بدل 25px */
  }
}
/* الكارت في الهواتف يصغر */
@media screen and (max-width: 576px) {
  .header .right .cart {
    flex-wrap: wrap;
    height: auto;
  }

  .header .right p {
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }
  .header .right .cart div {
    border-right: none; /* نشيل الخط عشان ما يكسر */
    flex: 1 1 50%; /* كل عنصر ياخذ نص عرض */
    justify-content: center;
  }
  .aboutUs {
    padding: 43px 2px;
    background-color: #d9d9d9;
    border-radius: 20px;
  }
}

/* Header */
@media screen and (max-width: 1022px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding: 0;
  }
  .header .left {
    padding: 11px;
  }
  .header .right {
    padding: 10px;
  }
  .header .right .cart {
    border-radius: 10px;
  }
}

/* Hero & application */
@media screen and (max-width: 1199px) {
  .hero .text p {
    font-size: 13px;
  }
  .hero .text h3 {
    font-size: 39px;
    font-weight: bold;
    color: #03081f;
    padding-bottom: 42px;
  }
  .hero .postcode p {
    padding-bottom: 9px;
  }
  .hero .postcode form {
    width: 288px;
  }
  .hero .hero-1 {
    width: 605px;
    height: 393px;
  }
  .hero .hero-2 {
    left: 199px;
    width: 333px;
    height: 369px;
  }

  /* Boxes */
  .hero .boxes-comments .box-1 .number {
    left: 232px;
    top: 111px;
  }
  .hero .boxes-comments .box-1 .comment {
    left: 189px;
    top: 155px;
  }
  .hero .boxes-comments .box-2 .number {
    left: 40px;
    top: 276px;
  }
  .hero .boxes-comments .box-2 .comment {
    left: 9px !important;
    top: 318px !important;
  }
  .hero .boxes-comments .box-3 .number {
    left: 135px;
    top: 439px;
  }
  .hero .boxes-comments .box-3 .comment {
    left: 101px !important;
    top: 481px !important;
  }
  .hero .boxes-comments .box-1 .number img {
    width: 13px;
  }
  .hero .boxes-comments .box-2 .number img {
    width: 21px;
  }
  .hero .boxes-comments .box-3 .number img {
    width: 20px;
  }
}

@media screen and (max-width: 1018px) {
  .hero .hero-1 {
    left: 1%;
  }
  .hero .hero-2 {
    display: none;
  }
  .hero .hero-3 {
    height: 89%;
    /* display: none; */
  }
  .hero {
    height: 422px;
  }
  .boxes-comments {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .hero .hero-1 {
    display: block;
    width: 523px;
    left: -65px;
  }
  .hero .hero-2 {
    display: none;
  }
  .hero .hero-3 {
    display: none;
  }
  .hero {
    display: flex;
    flex-direction: column;
  }
  .boxes-comments {
    display: none;
  }
  /* application */
  .application .row {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
  }
  .application .text {
    text-align: center;
    padding: 30px 0;
  }
  .application button {
    width: fit-content;
    right: 0;
  }
  .hero-resturant {
    height: 690px;
  }
}
@media screen and (max-width: 768px) {
  .hero .hero-1 {
    display: none;
  }
}
