:root {
  --primary: #38d39f;
  --second: #333;
  --orange: #ff5500;
  --red: #f11824;
  --orange-50: rgba(255, 85, 0, 0.555);
}
body {
  margin: 0 !important;
}
/* .row>* {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.shape {
    width: 500px;
    height: 500px;

    background-color: gainsboro;

}
.shape1 {
    height: 300px;
    width: 300px;
    background-image: url(images/photo_2025-07-24_14-42-57.jpg);

    background-repeat: no-repeat;
}
.shape2 {
    height: 400px;
    width: 300px;
    background-image: url(images/photo_2025-07-24_14-42-57.jpg);

    background-repeat: repeat-y;
}
.shape3 {
    height: 300px;
    width: 400px;
    background-image: url(images/photo_2025-07-24_14-42-57.jpg);

    background-repeat: repeat-x;
    
}
.shape4 {
    height: 400px;
    width: 400px;
    background-image: url(images/photo_2025-07-24_14-42-57.jpg);

    background-repeat: repeat;

} */
/* homework 4 */

/* .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.shape1, 
.shape2, 
.shape3 {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: gainsboro;

}
.shape1 {
    outline: 5px solid black;
    border: 5px solid red;
}
.shape2 {
    outline: 5px solid black;
    border-bottom: 5px solid blue;
    border-top: 5px solid blue;
    border-right: 5px solid green;
    border-left: 5px solid green;
}
.shape3 {
    outline: 5px solid black;
    border-bottom: 5px dashed blue;
    border-top: 5px dashed red;
    border-right: 5px dashed green;
    border-left: 5px dashed yellow;
} */

/* homework 5 */
/* .content {
    margin: 10%;
}

.shape1, 
.shape2, 
.shape3 {
padding: 15px;
background-color: #e7e7e7;
width: 400px;
}
.shape1 {
    outline: 5px solid #e7e7e7;
    border-left: 5px solid #ff007e;
}
.shape2 {
        visibility: hidden;

}

.shape3 {
    outline: 5px solid #e7e7e7;
    border-left: 5px solid #06ad5f;
}  */

/* homework 5 */

/* .parent .child .title {
    color: red;
}
.parent .title {
    color: blue;
}
.parent p {
    color: green;
}
.title {
    color: greenyellow;
} */

/* homework 5 */

/* .box {
      background-color: #b22222; 
      color: white;
      padding: 15px 20px;
      margin-bottom: 20px;
      width: fit-content;
      max-width: 400px;
    } */

/* homework 6 */
/* h1 {
    margin: 0 !important;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.card {
    width: 350px;
    height: 480px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 3px 20px 0px #00000085;
    margin-right: 15px;
    margin-left: 15px;
}
.dress {
    position: relative;
}
.dress::before {
    content: "50%";
    width: 50px;
    height: 50px;
    position: absolute;
    background: red;
    color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -12px;
    top: -13px;
    transition: 0.5s;
    transform: rotate(11deg);
}
.card span {
    color: orange;
    padding-right: 5px;
}

.chef {
    width: 350px;
    height: 480px;
    border-radius: 20px;
    margin-right: 15px;
    margin-left: 15px;
}
.chef h1 {
    color: orange;
}
.down {
    background: #272020fa;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 118px;
    align-items: center;
    margin-top: -4px;
}
.insidedown {
        padding: 10px;
    width: 301px;
    height: 78px;
    border: 2px solid #ffffff;
}*/
/*  */
/*
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}
.chooseUs {
    background-image: url(images/bg.jpg);
    background-size: cover;
    height: 600px;
}
.chooseUs .title {
    color: white;
    text-align: center;
    padding-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.chooseUs .title .line {
    background: red;
    width: 49px;
    height: 6px;
}
.box {
    width: 300px;
    text-align: center;
    color: white;
}
.box p {
    color: #ffffff85;
    margin-top: 5px;
} */

/* homework 7 */
/* div {
    width: 500px;
    font-size: 20px;
    padding: 29px;
    line-height: 2;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    border-top: 3px solid #ff5151;
    border-bottom: 3px solid #ff5151;
    border-right: 3px solid #3e3ef7;
    border-left: 3px solid #3e3ef7;
    background: beige;
}
.top-left,
.top-right,
.bottom-left,
.bottom-right {
    padding: 3px 9px;
    color: white;
    background-color: #3e3ef7;
    position: absolute;
    height: 29px;
    display: flex;
    align-items: center;
}
.top-left {
    left: -15px;
    top: -15px;
    border-right: 3px solid #ff5151;
}
.top-right {top: -15px;right: -15px;border-left: 3px solid #ff5151;}
.bottom-left {left: -15px;bottom: -15px;border-right: 3px solid #ff5151;}
.bottom-right {bottom: -15px;right: -15px;border-left: 3px solid #ff5151;}  */

/* homework 7 part 2 */
/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}
.box {
    background-color: beige;
    padding: 25px;
    width: 300px;
    color: #000;
}
.third ul li {
    list-style-position: inside;
    list-style-type: circle;
    padding-left: 14px;
}
.third ul  {
    padding-left: 0;

}
li {
    background-color: white;
    padding: 5px;
    margin-bottom: 11px;
} */

/* homework 8 */
/* body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      font-family: Arial, sans-serif;
    }

    .table-wrapper {
      border-radius: 10px 10px 0 0;
      overflow: hidden;
      border-bottom: 4px solid #2ad5a5; 
      box-shadow: 0 4px 15px rgba(0,0,0,0.2);
      width: fit-content;
    }

    table {
      width: 400px;
      text-align: center;
      background-color: white;
      border-spacing: 0; 
      border-collapse: collapse;
      border-radius: 10px 10px 0 0;
    }

    thead {
      background-color: #2ad5a5;
      color: white;
    }

    thead th {
      padding: 12px 0;
    }

    tbody tr {
    border-bottom: 1px solid #ddd;
    }

    tbody td {
      padding: 10px 0;
    }
    .middle {
        background-color: #ddd;
    }
    .middle td {
        color: #2ad5a5;
    }
    .last  {
        border-bottom: none;
    } */

/* homework 9 login */
/* .container {
    display: flex;
    flex-direction: column;
}

.bg img {
    width: 50%;
    left: 0;
    position: absolute;
    z-index: -1;
    top: 0;
}

.login {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 16%;
}

.login .img img {
    width: 356px;
}

.login .form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login .form img {
    width: 100px;
}

.login .form h1 {
    color: var(--second);
}

.login form .input-group {
    margin-bottom: 10px;
    position: relative;
}

.login form .input-group input {
    padding: 5px;
    border: 0;
    padding-left: 30px;
    border-bottom: 2px solid #bdbdbd;
}

.login form .input-group svg {
    position: absolute;
    left: 3px;
    top: 2px;
    color: #bdbdbd;
}

.login form p {
    text-align: right;
    color: #bdbdbd;
    margin-top: 3px;
}

.login form button {
    width: 100%;
    padding: 7px;
    color: white;
    background-color: var(--primary);
    border: none;
    border-radius: 20px;
} */
/* homework 9 login */
/* part 2 */
/* .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}
.box p {
    font-size: 44px;
    color: purple;
}
.box,
.box-blue,
.box-pink
 {
    width: 300px;
    height: 243px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.box {
    background: #d9b9b9;
    z-index: 1;
}
.box-blue {
    background: #1900ff;
    transform: rotate(351deg);
}
.box-pink {
    background: #ff00b3;
    transform: rotate(10deg);
} */

/* *********************************************************************** */
/* homework 10 villa */
/* .mt-3 {
    margin-top: 20px;
}
.mb-3 {
    margin-bottom: 20px;
}
.conatiner {
    padding-left: 10%;
    padding-right: 10%;
 }
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: #037fff;
    text-decoration: none;
}
h1,p {
    margin: 0px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 10px;
}
header .left {
    display: flex;
}
header .left p  {
    margin-right: 32px;
}
header .left p svg  {
    margin-right: 5px;
    color: var(--orange);
}
header .social-media {
    display: flex;
}
header .social-media .div {
        background: #d5d5d5;
        border-radius: 20px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
}
header .social-media svg  {
    font-size: 17px;
    color: #ffffff;
} */

/* Header */

/* Nav */

/* nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo p {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}
.active {
    color: var(--orange) !important;
}
nav .menu ul {
    list-style: none;
    display: flex;
    align-items: center;
}
nav .menu ul li {
    margin-right: 15px;
    font-size: 19px;
    color: #00000099;
}
 .login {
    width: 150px;
    height: 28px;
    display: flex;
    background: black;
    border: navajowhite;
    padding-right: 17px;
    border-radius: 20px;
    color: white;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
 .login div {
    background-color: var(--orange);
    color: white;
    width: 31px;
    height: 28px;
    display: flex;
    border-radius: 20px;
    position: absolute;
    left: 0;
    align-items: center;
    justify-content: center;
}  */

/* Nav */

/* hero */

/* .hero {
    background-image: url(images/homework/images/banner-01.jpg);
    background-repeat: no-repeat;
    height: 879px;
    background-size: cover;
    color: white;
    padding-left: 10%;
    display: flex;
    align-items: center;
    position: relative;
}
.hero .text button {font-size: 20px;padding: 14px 35px;border: none;border-radius: 12px;margin-bottom: 22px;}
.hero .text button span {
    
color: var(--orange);
}
.hero .text  h1{font-weight: bolder;font-size: 52px;text-transform: uppercase;}
.hero .circles {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 41px;
}
.hero .circles div {
        width: 10px;
        height: 10px;
        background: #ffffff;
        border-radius: 20px;
        margin-right: 6px;
}
.hero .circles .circle {
    background-color: var(--orange);
}  */

/* hero */

/* about */

/* .about .title {justify-content: left;}
 .about {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 100px 0px;
}
.about .left {
    display: flex;
    margin-right: 261px;
}
.about .left .img {
    position: relative;
    margin-right: 24px;
    width: 430px;
}
.about .left .featured {border-radius: 20px;width: 100%;height: 495px;}
.about .left .featured-icon {position: absolute;background: var(--orange);padding: 10px;border-radius: 44px;left: -31px;bottom: -26px;display: flex;align-items: center;justify-content: center;padding-left: 16px;}
.about .left .text {position: relative;padding-top: 18px;}
.title {
    
display: flex;
    
justify-content: center;
}
.title p {color: #ff444e;border-left: 3px solid #ff444e;padding-left: 5px;width: fit-content;}
.about .left .text h1  {
    font-weight: bolder;
    font-size: 38px;
}
.about .left .text .box  {
    width: 428px;
    background: #FAFAFA;
    padding: 13px;
    position: absolute;
    bottom: 1px;
}
.about .right .box  {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #cdcdcd;
    width: 96%;
    padding-bottom: 28px;
}
.line {width: 107%;height: 1px;position: relative;left: -12px;background: #00000029;margin-bottom: 11px;}
.about .right   {
    box-shadow: 2px 2px 20px 3px #0000005c;
    padding: 8px;
    border-radius: 20px;
    width: 309px;
    height: 429px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 44px;
    padding-top: 14px;
}
.about .right .box .text {
    margin-left: 24px;
}
.about .right .box .text h1  {
    font-size: 21px;
}
.about .right .box .text p {
    color: #00000082;
}  */

/* about */

/* service */

/* .dd {
    height: 789px;
}
.service {
    background-image: url(images/homework/images/video-bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    color: white;
    position: relative;
    background-size: cover;
}
.service h1 {
    
margin-top: 14px;
}
.service .text {
    padding-top: 142px;
    text-align: center;
    padding-bottom: 52px;
}
.service .video{
    position: relative;
}
.service .video img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
}
.service .video .play {
    width: 20px;
    padding: 10px;
    border-radius: 42px;
    background-color: white;
    color: var(--orange);
    border: 16px solid #ff5500cc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 240px;
}
.ser-boxes {
    margin-top: 83px;
    margin-bottom: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ser-boxes .box{
    width: 200px;
    background: #ffeee7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}
.ser-boxes .box div{
    width: 40px;
    height: 40px;
    background: var(--orange);
    border-radius: 20px;
    position: absolute;
    right: -13px;
    top: -13px;
}
.ser-boxes .box h1{
    color: var(--orange);
    font-weight: bolder;
    font-size: 37px;
}
.ser-boxes .box p{
    font-weight: bold;
}  */

/* service */

/* deal */

/* .deal {
    background: #f5f5f5;
    padding: 82px 8%;
    position: relative;
}
.deal .title{
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    padding-left: 53px;
}
.deal .find-btn{
    margin-bottom: 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 53px;
}
.deal .find-btn h1{
    text-transform: capitalize;
}
.deal .find-btn .buttons button{padding: 10px 27px;margin-right: 11px;border: none;color: white;background: black;border-radius: 8px;font-size: 15px;}
.deal .find-btn .buttons .home{
    background: var(--orange);
}
.deal .box-img-text {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    transform: translateX(1%);
}
.deal .box-img-text .boxes{
    box-shadow: 2px 2px 20px 0px #00000066;
    border-radius: 6px;
    width: 435px;
    height: 383px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 42px;
}
.deal .box-img-text .boxes p{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 109%;
    color: #00000094;
}
.deal .box-img-text .boxes p span{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.deal .box-img-text .img {
    margin: 0 41px;
    width: 800px;
    height: 403px;
}
.deal .box-img-text .img img{
    border-radius: 4px;
    width: 100%;
    height: 100%;
}
.deal .box-img-text .text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 357px;
    width: 500px;
    margin: 0 29px;
} */

/* deal */

/* property */

/* .property .line {
    
margin-top: 20px;
    
width: 97%;
    
left: 9px;
}
.property {
    position: relative;
    padding: 100px 5%;
}
.property .title{
    text-align: center;
    margin-bottom: 13px;
}
.property  h1{
    font-weight: bolder;
    font-size: 38px;
    text-align: center;
    text-transform: capitalize;
}
.property .conatiner{
    padding-top: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.property .conatiner .card{
    width: 325px;
    height: 440px;
    background-color: #f5f5f5;
    padding: 16px;
    border-radius: 10px;
    position: relative;
    margin: 0 15px;
}
.property .conatiner .card img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.property .conatiner .card div p{
    background-color: var(--orange-50);
    width: fit-content;
    padding:  3px 6px;
    color: white;
}
.property .conatiner .card div  span{
    color: var(--orange);
    font-size: 18px;
    font-weight: bold;
}
.property .conatiner .card h1{
    margin-bottom: 10px;
    font-size: 24px;
    text-align: left;
    margin-top: 10px;
}
.property .conatiner .card div {
    display: flex;
    justify-content: space-between;
}
.property .conatiner .card .text {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.property .conatiner .card .text p{
    background: none;
    color: #00000091;
}
.property .conatiner .card .text p span{
    color: black;
}
.property .conatiner .card button{
    padding: 8px 15px;
    border: none;
    background: black;
    color: white;
    border-radius: 10px;
    transform: translateX(50%);
    position: absolute;
    bottom: 13px;
} */
/* property */

/* contactus */

/* .contact-US .title {
    margin-bottom: 15px;
}
.contact-US {
    background-image: url(images/homework/images/contact-bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    color: white;
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-bottom: 375px;
}
.contact-US .text-title {
    padding-top: 142px;
    text-align: center;
    padding-bottom: 73px;
}

.contact-US .Gps-form {
    display: flex;
    justify-content: center;
}
.contact-US .Gps-form .left{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 675px;
    margin-right: -19px;
}
.contact-US .Gps-form .left .Gps {
    margin-bottom: 11px;
    width: 100%;
    height: 447px;
}
.contact-US .Gps-form .left .boxes{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}
.contact-US .Gps-form .left .boxes .box{
    width: 246px;
    background: #ffffff;
    box-shadow: 7px 2px 20px #00000052;
    display: flex;
    padding: 16px;
    align-items: center;
    border-radius: 11px;
    height: 56px;
    margin-right: 49px;
}
.contact-US .Gps-form .left .boxes .box img {
    width: 37px;
}
.contact-US .Gps-form .left .boxes .box .text{margin-left: 20px;}
.contact-US .Gps-form .left .boxes .box .text h1{
    color: black;
    font-size: 18px;
}
.contact-US .Gps-form .left .boxes .box .text p{
    color: #00000082;
}
.contact-US .Gps-form .right{display: flex;flex-direction: column;}
.contact-US .Gps-form .right .form{
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 4px 3px 20px 0px #0000005c;
    position: relative;
    height: 521px;
}
.contact-US .Gps-form .right .form .input-group{
    display: flex;
    flex-direction: column;
    margin: 0 0 31px 0;
    color: #6d6d6d;
    width: 443px;
}
.contact-US .Gps-form .right .form .input-group label{
    margin-bottom: 6px;
    margin-left: 6px;
    color: #000000cc;
    font-weight: bold;
}
.contact-US .Gps-form .right .form .input-group textarea ,
.contact-US .Gps-form .right .form .input-group input{
    padding: 7px 10px;
    border: none;
    background: #e7e7e7;
    border-radius: 10px;
}
textarea {
    color: #6d6d6d;
    height: 178px;
}
.contact-US .Gps-form .right .form button {
    padding: 8px 15px;
    border: none;
    background: black;
    color: white;
    border-radius: 10px;
    position: absolute;
    bottom: 13px;
} */
/* contactus */

/* footer */

/* footer {

position: relative;

bottom: 0;

background: black;

height: 73px;

color: white;

display: flex;

align-items: center;

justify-content: center;
} */

/* footer */
/* Homework Villa */
/* *********************************************************************** */
/* *********************************************************************** */

/* *********************************************************************** */
/* Home work Bootstrap */
/* part 1 */

/* .box .text{
    padding: 8px 8px 0;
} */
/* .box .text h3{
    color: orange;
} */
/* .box .text p{
    color: white;
} */
/* part 1 */

/* Part 2 */
/* ul {
  list-style: none;
  padding: 0;
}
.word-space {
  word-spacing: 10px;
} */


/* Part 2 */

/* Home work Bootstrap */
/* *********************************************************************** */

/***************** test *******************/

/* .content,
.content2,
.content3 {
    width: 400px;
    padding: 2px;
    margin: 30px;
    background-color: rgb(213 200 200 / 37%);
    border-left: 7px solid red;
    outline: 10px solid rgb(213 200 200 / 37%);
}
.content2{
    visibility: hidden;
}
.content3{
    border-left: 7px solid green;
} 
.shape {
        padding: 10px;
        width: 139px;
        font-size: 20px;
        margin-bottom: 20px;
}
.shape1, 
.shape2, 
.shape3 {
text-align: center;
background-color: gainsboro;
}
.shape1 {
    outline: 5px solid black;
    border: 5px solid red;
}
.shape2 {
    outline: 5px solid black;
    border-bottom: 5px solid blue;
    border-top: 5px solid blue;
    border-right: 5px solid green;
    border-left: 5px solid green;
}
.shape3 {
    outline: 5px solid black;
    border-bottom: 5px dashed blue;
    border-top: 5px dashed red;
    border-right: 5px dashed green;
    border-left: 5px dashed yellow;
}   */

/* test inas */
.content{
    width: 300px;
    height: 376px;
 }
 .content{
    /* margin-left: 70px; */
    /* padding-left:50px; */
 }


.content .one{
    width: 281px;
    /* height: 70px; */
    margin-left: 10px;
    margin-right:15px;
    background-color:rgb(66, 54, 45);
    border: 1px solid white;
    outline: 10px solid rgb(66, 54, 45);
} 

.content .one h1{
    color:orange;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding: 5px 10px 5px 10px;
    margin: 1px 5px 1px 5px; 
}

.content .one  p{
    color:white;
    font-size: medium;
    text-align: center;
    padding: -5px;
    margin: 1px; 
    
}