@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap');

:root {
  --orange: #fc8a06;
  --green: #028643;
  --white: #ffffff;
  --black: #000000;
  --darkBlue: #03081f;
}

.logo h1{
    margin-left: 12px;
    font-weight: bold;
}
/* تأكد الصور ما تطلع برة */
img {
  /* max-width: 100%; */
  height: auto;
}

body {
  direction: rtl;
  overflow-x: hidden;
  background-color: var(--white);
  padding: 0;
  margin: 0;
  font-family: 'Cairo', Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
.w-fit {
  width: fit-content;
}

/* Containers */
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1091px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1320px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1400px;
  }
}

/*  header  */
.header {
  background-color: #fafafa;
  padding: 0 40px;
  border-radius: 0 0 20px 20px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}
.header .left p {
  font-size: 20px;
}
.header .right p {
    font-size: 19px;
}

span {
  color: var(--orange);
}
.header .right .cart {
  border-radius: 0 0 10px 10px;
  background-color: var(--green);
  height: 59px;
}
.header .right .cart div {
  padding: 8px;
  display: flex;
  align-items: center;
  color: var(--bs-white);
  border-right: 1px solid white;
  height: 100%;
}

.header .right .cart div img {
  width: 26px;
}
/*End Header */

/* Nav */
nav .navbar-brand .logo h1 {
    font-size: 29px;
    margin: 0;
}
nav .navbar-brand .logo h1 span{
    font-size: 29px;
}
.login {
  display: flex;
  align-items: center;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: var(--darkBlue);
}
.nav-item {
  margin-right: 25px;
}
.nav-link {
  font-size: 17px;
  font-weight: 600;
  color: #000000ab;
  transition: 0.5s;
}
.nav-link:hover {
  color: var(--orange);
}
.nav-item .active {
  color: var(--white) !important;
  background-color: var(--orange);
  border-radius: 20px;
  width: 102px;
  height: 40px;
  text-align: center;
}

/* End nav */

/* Hero */
.hero {
  padding: 10px 23px;
  background-color: #fafafa;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  height: 601px;
  position: relative;
  width: 100%;
}
.hero .row {
  height: 100%;
}
.hero svg {
  color: var(--orange);
}
.hero .hero-3 {
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: 0;
  transform: rotateY(
180deg);
}
.hero .text p {
  width: fit-content;
  padding-bottom: 10px;
  font-size: 14px;
  color: var(--darkBlue);
}
.hero .text h3 {
  font-size: 44px;
}
.hero .postcode p {
  width: fit-content;
  padding-bottom: 10px;
}
.hero .postcode form {
  width: 292px;
}
.hero .postcode form .input-group {
  position: relative;
}
.hero .postcode form .input-group input {
  padding: 10px;
  border: 1px solid #0000001f;
  border-radius: 20px !important;
  width: 100%;
}
.hero .postcode form .input-group button {
  border: none;
  border-radius: 20px !important;
  background-color: var(--orange);
  color: white;
  width: 100px;
  z-index: 1;
  position: absolute;
  right: 0;
  height: 46px;
}
.hero .hero-1 {
  position: absolute;
  left: 27%;
  bottom: 0;
  /* width: 646px; */
  height: 444px;
  z-index: 1;
}
.hero .hero-2 {
  position: absolute;
  left: 179px;
  bottom: 0;
  /* width: 367px; */
  height: 429px;
  z-index: 0;
}

/* Boxes */
.hero .boxes-comments .box {
  width: fit-content;
}
.hero .boxes-comments .box .number {
  font-size: 32px;
  position: absolute;
  color: white;
}
.hero .boxes-comments .box-1 .number {
  left: 252px;
  top: 75px;
}
.hero .boxes-comments .box-1 .comment {
  left: 206px;
  top: 131px;
}
.hero .boxes-comments .box-2 .number {
  left: 28px;
  top: 258px;
}
.hero .boxes-comments .box-2 .comment {
  left: 9px !important;
  top: 311px !important;
}
.hero .boxes-comments .box-3 .number {
  left: 135px;
  top: 429px;
}
.hero .boxes-comments .box-3 .comment {
  left: 101px !important;
  top: 481px !important;
}
.hero .boxes-comments .box .comment {
  background-color: white;
  position: absolute;
  padding: 7px 19px;
  width: 319px;
  height: 87px;
  border-radius: 29px;
}
.hero .boxes-comments .box .comment h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  margin: 0;
}
.hero .boxes-comments .box .comment h1 span {
  font-size: 15px;
  padding-right: 20px;
}
.hero .boxes-comments .box .comment p {
  padding-left: 10px;
  font-size: 14px;
}
/* End hero */

/* Seals */

.seals .top p {
  font-size: 28px;
  margin-right: 35px;
  font-weight: bold;
}
.seals .top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.seals .top ul li {
  margin-left: 39px;
  font-size: 16px;
}
.seals .top ul .active {
  border: 2px solid var(--orange);
  padding: 12px 22px;
  border-radius: 20px;
  color: var(--orange);
}
.seals .card {
  border-radius: 19px;
  overflow: hidden;
  width: 100%;
  height: 97%;
}
.seals .card.card-1,
.seals .card.card-2,
.seals .card.card-3 {
  background-repeat: no-repeat;

  background-size: cover;

  position: relative;

  z-index: 2;
}
.seals .card.card-3,
.seals .card.card-1 {
  background-image: url(../images/Seal-1.png);
}
.seals .card.card-2 {
  background-image: url(../images/Seal-2.png);
}
.seals .card .seal {
  background: var(--darkBlue);
  width: fit-content;
  padding: 14px;
  color: var(--bs-white);
  border-radius: 0 0 10px 10px;
  position: absolute;
  left: 23px;
}
.seals .card img {
  width: 102%;
  position: relative;
  right: -6px;
  z-index: 0;
}
.seals .card .text {
  position: absolute;
  bottom: 24px;
  padding-right: 31px;
}
.seals .card .text p {
  color: var(--orange);
}
.seals .card .text h1 {
  color: white;
}
/* End Seals */

/* Categories */
.Categories .top p {
  font-size: 28px;
  margin-right: 35px;
  font-weight: bold;
}
.Categories .card {
  border-radius: 19px;
  overflow: hidden;
  width: 100%;
  background-color: #fafafa;
  height: 97%;
}
.Categories .card .text {
  padding-right: 11px;
}
.Categories .card .text p {
  color: var(--orange);
  padding-bottom: 14px;
}
.Categories .card .text h1 {
  color: var(--darkBlue);
  padding-top: 10px;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 0;
}
/* End Categories */

/* Restaurants */
.Restaurants .top p {
  font-size: 28px;
  margin-right: 35px;
  font-weight: bold;
}
.Restaurants .card {
  border-radius: 19px;
  overflow: hidden;
  width: 100%;
  height: 97%;
  border: none;
}
.Restaurants .card .text {
  text-align: center;
  background-color: var(--orange);
}
.Restaurants .card .text p {
  color: var(--white);
  padding-bottom: 14px;
}
.Restaurants .card .text h1 {
  color: var(--white);
  padding-top: 10px;
  font-size: 18px;
  margin-bottom: 19px;
}
/* End Restaurants */

/* application */
.application {
  background: linear-gradient(306deg, #eeeeee, #e0e1dc);
  border-radius: 20px;
}
.application .friends-laughing-using-mobiles {
  z-index: 1;
  position: relative;
}
.application .friends-laughing-using-mobiles-photo {
  z-index: 2;
  position: relative;
}
.application .friends-laughing-using-mobiles-shdow {
  position: absolute;
  left: -22px;
  top: -15px;
  z-index: 0;
}
.application button {
  border: none;
  padding: 10px 20px;
  background-color: #03081f;
  color: var(--white);
  font-size: 23px;
  font-weight: 600;
  width: 500px;
  right: -144px;
  position: relative;
  z-index: 0;
  border-radius: 20px;
  margin-bottom: 18px;
  margin-top: 10px;
}
.application button span {
  color: var(--bs-orange);
  font-size: 27px;
}
.application p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #000000a3;
}
/* End application */

/* WorkWUs */
.WorkWUs .top p {
  font-size: 28px;
  margin-right: 35px;
  font-weight: bold;
}
.WorkWUs .top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.WorkWUs .top ul li {
  margin-right: 39px;
  font-size: 13px;
}
.WorkWUs .top ul .active {
  border: 2px solid var(--orange);
  padding: 12px 22px;
  border-radius: 20px;
  color: var(--orange);
}
.WorkWUs .card {
  border-radius: 19px;
  overflow: hidden;
  width: 100%;
  height: 97%;
}
.WorkWUs .card.card-1,
.WorkWUs .card.card-2,
.WorkWUs .card.card-3 {
  background-repeat: no-repeat;

  background-size: cover;

  position: relative;

  z-index: 2;
}
.WorkWUs .card.card-3,
.WorkWUs .card.card-1 {
  background-image: url(../images/WorkWUs-1.png);
}
.WorkWUs .card.card-2 {
  background-image: url(../images/WorkWUs-2.png);
}
.WorkWUs .card .seal {
  background: var(--white);
  width: fit-content;
  padding: 14px;
  color: var(--darkBlue);
  border-radius: 0 0 10px 10px;
  position: absolute;
  left: 23px;
}
.WorkWUs .card img {
  width: 102%;
  position: relative;
  left: -6px;
  z-index: 0;
}
.WorkWUs .card .text {
  position: absolute;
  bottom: 24px;
  padding-right: 31px;
}
.WorkWUs .card .text p {
  color: var(--orange);
}
.WorkWUs .card .text h1 {
  color: white;
}
.WorkWUs .card button {
  width: fit-content;

  border: none;

  padding: 10px 45px;

  background-color: var(--orange);

  color: var(--bs-white);

  border-radius: 20px;
}
/* End WorkWUs */

/* AboutUs */
.aboutUs {
  padding: 112px 85px;
  background-color: #d9d9d9;
  border-radius: 20px;
}
.aboutUs .top p {
  font-size: 28px;
  margin-right: 35px;
  font-weight: bold;
}
.aboutUs .top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.aboutUs .top ul li {
  margin-right: 25px;
  font-size: 17px;
}
.aboutUs .top ul .active {
  border: 2px solid var(--orange);
  padding: 12px 22px;
  border-radius: 20px;
  color: var(--orange);
}
.aboutUs .question ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutUs .question ul li {
  padding: 18px;
  text-align: center;
  font-weight: bold;
}
.aboutUs .question ul .active {
  background-color: var(--orange);
  color: var(--white);
  border-radius: 20px;
  width: fit-content;
}
.aboutUs .box {
  height: 100%;
  background: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  width: fit-content;
}
.aboutUs .box h3 {
  font-size: 20px;
  font-weight: bold;
}

/* End AboutUs */

/* Statistics */
.Statistics .row {
  background-color: var(--orange);
  border-radius: 22px;
}
.Statistics .box {
  color: var(--white);
  text-align: center;
  padding: 12px;
}
.Statistics .box .text {
  border-right: 1px solid #ffffff;
}
.Statistics .box:last-child .text {
  border-right: none;
}
/* End Statistics */

/* Footer */
footer {
    background-color: #D9D9D9;
    padding: 35px;
}
footer  .titleUL{
    width: fit-content;
    font-size: 20px;
    margin-bottom: 28px;
    color: var(--darkBlue);
    font-weight: bold;
}
footer ul{
  list-style: none;
  padding: 0;
  width: 100%;
}
footer .ulunderlineLi li{
    text-decoration: underline;
}
footer ul li{margin-bottom: 7px;width: 100%;}

footer  form .input-group {
  position: relative;
}
footer  form .input-group input {
  padding: 10px;
  border: 1px solid #0000001f;
  border-radius: 20px !important;
  background-color: #b7b7b7;
  width: 100%;
}
footer  form .input-group button {
  border: none;
  border-radius: 20px !important;
  background-color: var(--orange);
  color: white;
  width: 117px;
  z-index: 1;
  position: absolute;
  right: -33px;
  height: 46px;
}
 .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkBlue);
    color: var(--bs-white);
    padding: 28px 51px;
    flex-wrap: wrap;
}
 .bottom ul{
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    margin-top: 13px;
}
 .bottom ul li{
    margin-right: 48px;
}
/* End Footer */





























/* منع أي فراغ أو سكرول جانبي */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}




/* الصور داخل الـ Hero */
.hero img {
  max-width: 100%;
  height: auto;
}

/* تعديل الصور المطلقة */
.hero .hero-1,
.hero .hero-2,
.hero .hero-3 {
  max-width: 100% !important;
}

/* ضبط الهوامش في الموبايل */
@media screen and (max-width: 768px) {
  .seals .top p {
    font-size: 20px;
    margin-right: 10px;
  }
  .seals .top ul li {
    margin-right: 15px;
  }
  .Categories .top p {
    font-size: 22px;
    margin-right: 10px;
  }
}



/* Responsive */

/* حل مشكلة البادينغ في الهواتف */
@media screen and (max-width: 768px) {
  .header {
    padding: 0 15px !important;
  }
  .nav-item {
    margin-right: 10px; /* بدل 25px */
  }
}
/* الكارت في الهواتف يصغر */
@media screen and (max-width: 576px) {
  .header .right .cart {
    flex-wrap: wrap;
    height: auto;
  }
  .header .right .cart div {
    border-right: none; /* نشيل الخط عشان ما يكسر */
    flex: 1 1 50%;       /* كل عنصر ياخذ نص عرض */
    justify-content: center;
  }
}

/* Header */
@media screen and (max-width: 1022px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding: 0;
  }
  .header .left {
    padding: 11px;
  }
  .header .right {
    padding: 10px;
  }
  .header .right .cart {
    border-radius: 10px;
  }
}

/* Hero & application */
@media screen and (max-width: 1199px) {
  .hero .text p {
    font-size: 11px;
  }
  .hero .text h3 {
    font-size: 39px;
    font-weight: bold;
    color: #03081f;
    padding-bottom: 42px;
  }
  .hero .postcode p {
    padding-bottom: 9px;
  }
  .hero .postcode form {
    width: 288px;
  }
  .hero .hero-1 {
    width: 605px;
    height: 393px;
  }
  .hero .hero-2 {
    right: 199px;
    width: 333px;
    height: 369px;
  }

  /* Boxes */
  .hero .boxes-comments .box-1 .number {
    left: 232px;
    top: 111px;
  }
  .hero .boxes-comments .box-1 .comment {
    left: 189px;
    top: 155px;
  }
  .hero .boxes-comments .box-2 .number {
    left: 40px;
    top: 276px;
  }
  .hero .boxes-comments .box-2 .comment {
    left: 9px !important;
    top: 318px !important;
  }
  .hero .boxes-comments .box-3 .number {
    left: 135px;
    top: 439px;
  }
  .hero .boxes-comments .box-3 .comment {
    left: 101px !important;
    top: 481px !important;
  }
  .hero .boxes-comments .box-1 .number img {
    width: 13px;
  }
  .hero .boxes-comments .box-2 .number img {
    width: 21px;
  }
  .hero .boxes-comments .box-3 .number img {
    width: 20px;
  }
}

@media screen and (max-width: 1018px) {
  .hero .hero-1 {
    left: 1%;
  }
  .hero .hero-2 {
    display: none;
  }
  .hero .hero-3 {
    height: 89%;
    /* display: none; */
  }
  .hero {
    height: 422px;
  }
  .boxes-comments {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .hero .hero-1 {
    display: block;
    width: 443px;
    left: -65px;
  }
  .hero .hero-2 {
    display: none;
  }
  .hero .hero-3 {
    display: none;
  }
  .hero {
    display: flex;
    flex-direction: column;
  }
  .boxes-comments {
    display: none;
  }
  /* application */
  .application .row {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
  }
  .application .text {
    text-align: center;
    padding: 30px 0;
  }
  .application button {
    width: fit-content;
    left: 0;
  }
}
@media screen and (max-width: 768px) {
  .hero .hero-1 {
    display: none;
  }
}
